# ==========================================
# 민감한 개인 정보 및 API 보안 키 (★가장 중요★)
# ==========================================
.env
.env.local
.env.*.local

# ==========================================
# 종속성 패키지 (도커 빌드 시 내부에서 새로 설치함)
# ==========================================
node_modules/
jspm_packages/
web_modules/

# ==========================================
# 로그 및 운영 데이터 (서버 구동 시 생성되는 쓰레기 파일)
# ==========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# OS / 에디터 전용 설정 파일 (내 컴퓨터 환경 고유 파일)
# ==========================================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?